<nav class="nav" id="index_nav">
     <span class="nav_span">
        <a addr="/index/info" class="nav_a">
           <!-- <img  src="__PUBLIC__/ixx/nav/main.png" > -->
           <p>总体信息</p>
        </a>
     </span>
     <span class="nav_span">
       <a class="nav_a">
          <!-- <img src="/static/img/equip_message.png"> -->
          <p>设备信息</p>
        </a>
        <ul class="subnav" >
            <li><a addr="/index/temp">温度传感器</a></li>
            <li><a addr="/index/vibration">振动传感器</a></li>
        </ul>
     </span>
      <span class="nav_span">
         <a class="nav_a">
            <!-- <img src="/static/img/system_set.png"> -->
            <p>记录查询</p>
         </a>
        <ul class="subnav" >
            <li><a addr="/index/alarm">告警记录</a></li>
            <li><a addr="/index/equip/history">数据记录</a></li>
            <li><a addr="">操作记录</a></li>
            <li><a addr="">登录记录</a></li>
            <li><a addr="">系统日志</a></li>
        </ul>
     </span>
      <span class="nav_span">
         <a class="nav_a">
            <!-- <img src="/static/img/system_set.png"> -->
            <p>设备配置</p>
         </a>
        <ul class="subnav" >
            <li><a addr="/index/zone">区域管理</a></li>
            <li><a addr="/index/equip/index/type/1">温度传感器</a></li>
            <li><a addr="/index/equip/index/type/2">振动传感器</a></li>
        </ul>
     </span>
      <span class="nav_span">
         <a addr="/index/user" class="nav_a">
            <!-- <img src="/static/img/system_set.png"> -->
            <p>用户管理</p>
         </a>
     </span>
      <span class="nav_span">
         <a class="nav_a">
            <!-- <img src="/static/img/system_set.png"> -->
            <p>系统管理</p>
         </a>
        <ul class="subnav" >
            <li><a addr="/index/setting">设置</a></li>
            <li><a addr="">升级</a></li>
            <li><a addr="">关于</a></li>
        </ul>
     </span>
</nav>
<div class="main" id="index_main" style="position: relative;">