<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- <link rel="Shortcut Icon" href="__PUBLIC__/favicon.ico"> -->
    <link href="/static/css/static.css" rel="stylesheet" type="text/css">
    <link href="/static/css/equip_manage.css" rel="stylesheet" type="text/css">
    <!-- <link href="/static/css/tip-yellow/tip-yellow.css" rel="stylesheet"  type="text/css"> -->
    <script src="/static/js/require.js" data-main="/static/js/page_action/record_select.js"></script>
    <title>{$Think.lang._SYSTEM_NAME_}</title>
</head>

<body class="statics_bg" id="EquipmanageUPS_body">

{include file="pub/header"}
{include file="pub/nav"}
<section class="statics_section">
   <!--顶部导航开始-->
   <header class="statics_header">
   </header>
   <!--顶部导航结束-->
   <!--内容开始-->
   <section class="esUPS_cotainer">
    <figure class="Ema_figure">
      <div id="dev_list" class="Ema_figurecotainer">
        <!--插入图块-->
      </div>
    </figure>
  </section>
</section>
  <!--内容结束-->
</body>
</html>