<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/static/css/static.css" rel="stylesheet" type="text/css">
    <link href="/static/css/env.css" rel="stylesheet" type="text/css">
    <script src="/static/js/require.js" data-main="/static/js/page_action/temp"></script>
    <title>动联智创系统</title>
</head>
<body>
{include file="pub/header"}
{include file="pub/nav"}
    <section class="statics_section" id="keep_Env">
        <!--顶部导航开始-->
        <header class="statics_header">
        </header>
        <figure class="statics-figure">
            <figcaption class="statics-figcaption statics-figcaption-one" id="zone_list">
               <!--  <span class="statics-figcaption-click">温湿度传感器</span>
                <span >振动传感器</span> -->
            </figcaption>
            <div class="statics_fig_pos">
                <div class="ccontainer" id="EnvPageth">
                    <div id="env_temp_chart" class="env_chart_container"></div>
                    <table id="env_temp_label" class="env_label_table">
                        <tr>
                            <td width="4%">名称</td>
                        </tr>
                    </table>
                    <div id="env_humi_chart" class="env_chart_container"></div>
                    <table id="env_humi_label" class="env_label_table">
                        <tr>
                            <td width="4%">名称</td>
                        </tr>
                    </table>
                </div>
            </div>
        </figure>
    </section>
</body>
</html>