<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- <link rel="Shortcut Icon" href="/static/favicon.ico"> -->
    <link href="/static/css/static.css" rel="stylesheet" type="text/css">
    <link href="/static/css/equip_manage.css" rel="stylesheet" type="text/css">
    <link href="/static/css/validform.css" rel="stylesheet" type="text/css">
    <script>
        var em_enbale="{$Think.lang._COMMOM_ENABLED_}";//启用
        var UPS_NOTHING="{$Think.lang._UPS_NOTHING_}";//无

        var WARN_EM_MAX_DEV="{$Think.lang._WARN_EM_MAX_DEV_}";//超过设备上限
    </script>
    <script src="/static/js/require.js" data-main="/static/js/page_action/detail_manage.js"></script>
    <title>{$Think.lang._SYSTEM_NAME_}</title>
</head>
<body class="statics_bg" id="EquipmanageUPSseting_body">

{include file="pub/header"}
{include file="pub/nav"}
<section class="statics_section">
   <!--顶部导航开始-->
   <header class="statics_header">
   </header>
   <!--顶部导航结束-->
    <form class="EqmSetform">
   <!--内容开始-->
    <section  class="esUPS_cotainer">
       <figure  class="es_table_title">
           <figcaption id="Emm_title">
               <span></span>
           </figcaption>
               <span class="es_table_container" id="equip_setting_ul">
               <ul>
                   <li >名称:</li>
                   <li >
                       <input type="text" name="EmaC_Name" altercss="grey_note"  datatype="name"  errormsg="{$Think.lang._ERR_FORMAT_}" >
                       <div class="info">
                           <span class="Validform_checktip"></span>
                           <span class="dec">
                               <a class="dec1"></a>
                           </span>
                       </div>
                       <i class="warning">*</i>
                   </li>
               </ul>
               <ul>
                   <li >描述:</li>
                   <li >
                       <input type="text" name="EmaC_Description">
                   </li>
               </ul>
               <ul>
                   <li>型号</li>
                   <li>
                       <select name="EmaC_Model" id="Ema_Model">
                       </select>
                   </li>
               </ul>
               <ul>
                   <li>编号</li>
                   <li>
                       <input type="text" name="EmaC_Number" errormsg="{$Think.lang._ERR_FORMAT_}">
                   </li>
               </ul>
               <ul>
                   <li>通信地址</li>
                   <li>
                       <input type="text" name="EmaC_Address" errormsg="{$Think.lang._ERR_FORMAT_}">
                   </li>
               </ul>
               <ul>
                   <li>所属区域</li>
                   <li>
                       <select name="EmaC_ZoneId" id="Ema_ZoneId">
                       </select>
                   </li>
               </ul>
               <ul>
                   <li>通信超时时间:</li>
                   <li>
                       <select name="EmaC_Overtime">
                           <option value="5">5秒</option>
                           <option value="10">10秒</option>
                           <option value="15">15秒</option>
                           <option value="30">30秒</option>
                           <option value="60">60秒</option>
                       </select>
                   </li>
               </ul>
               <ul>
                   <li>数据存储间隔时间:</li>
                   <li>
                       <select name="EmaC_DatasaveSpan">
                           <option value="2">2分钟</option>
                           <option value="5">5分钟</option>
                           <option value="10">10分钟</option>
                           <option value="30">30分钟</option>
                           <option value="60">60分钟</option>
                       </select>
                   </li>
               </ul>
              </span>
       </figure>

       <span class="bottom_button">
          <button  type="button" class="input_4" id="EmaC_apply">
            <span><!--确认-->{$Think.lang._COMM_CONFIRM_}</span>
          </button>
          <button  type="button" class="input_4" id="EmaC_cancel">
            <span><!--取消-->{$Think.lang._COMM_CANCEL_}</span>
          </button>
      </span>
    </section>
</form>
     <!--内容结束-->
</section>

</body>
</html>